*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}
/*START OF HEADER*/
header{
    padding: 10px 85px 10px 0px;
    background-color: rgb(66, 66, 66);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1{
    background-color: paleturquoise;
    font-size: 45px;
    margin-left: 0;
    padding-left: 50px;
    padding-right: 10px;
    font-weight: bold;
    color: rgba(43, 43, 43, 0.8);
}

header a{
    color: paleturquoise;
}

header nav{
    margin: 7px 0;
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    font-size: 22px;
    font-weight: lighter;
    text-decoration: none;
    margin: 0 5px;
    border-bottom: 2px solid paleturquoise;
}
/*END OF HEADER*/

/*START OF HERO*/
.Hero{
    background-image: url('https://www.wallpapertip.com/wmimgs/83-838381_html-wallpaper-background-code-coding-tags.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 20px;
}

.Subtitle{
    background-color: paleturquoise;
    font-size: 22px;
    color: rgba(43, 43, 43, 0.8);
    margin-top: 100px;
    margin-right: 100px;
}

.Subtitle h2{
    padding: 5px;
}
/*END OF HERO*/

/*START OF ABOUT ME SECTION*/
.Content{
    color: rgba(43, 43, 43, 0.8);
    margin: 5px;
    display: flex;
    padding: 40px;
    flex-direction: column;
}

.About-Me{
    margin: 30px;
    flex-direction: row;
    display: flex;
}


.About-Me h2{
    font-size: 58px;
    font-weight: bolder;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 42px;
    border-right: 3px solid rgba(43, 43, 43, 0.8);
}

.one{
    text-align: justify;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 35px;
    padding-right: 20px;

}
/*END OF ABOUT ME SECTION*/
/*START OF WORK SECTION*/
.container{
    color: rgba(43, 43, 43, 0.8);
    margin: 5px;
    display: flex;
    padding: 40px;
}

.work{
    margin: 0%;
    flex-direction: row;
}

.work h2{
    font-size: 58px;
    font-weight: bolder;
    display: inline-flex;
    border-right:3px solid rgba(43, 43, 43, 0.8) ;
    height: 300px;
    padding-left: 110px;
    padding-right: 35px;
}

.Run-Buddy{
    background-image: url('../css/images/backgroundPicture.png');
    background-size: cover;
    width: 990px;
    height: 300px;
    border: 4px solid paleturquoise;
    margin: 0px 30px;
}

.Description{
    background-color: paleturquoise;
    display: inline-flex;
    flex-direction: column;
    margin-top: 230px;
    margin-left: 10px;
    padding: 3px;
}
/*END OF WORK SECTION*/
/*START OF CONTACT ME SECTION*/
.Contact-Me h2{
    font-size: 58px;
    font-weight: bolder;
    text-align: right; 
    position:absolute;
    left: 8%;
    bottom: -70%;
}

.vertical-line{
    border-right: 3px solid rgba(43, 43, 43, 0.8);
    height: 180px;
    position: absolute;
    left: 23%;
    bottom: -77%;
}

.info{
    font-size: 22px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    text-decoration: 4px solid underline;
}

.number{
    position: absolute;
    left: 30%;
    bottom: -65%;
    text-decoration: 4px solid underline;
    list-style: none; 
}

.email{
    position: absolute;
    left: 50%;
    bottom: -65%;
    text-decoration: 4px solid underline;
    list-style: none;
}

.github{
    position: absolute;
    left: 80%;
    bottom: -65%;
    text-decoration: 4px solid underline;
    list-style: none;
}
/*END OF CONTACT ME SECTION*/